<% include ../partials/header %>
<% include ../partials/menu %>

<link rel="stylesheet" href="../../css/statistics.css" />

<!-- <body onload="startTime()"> -->
<div class="container-fluid">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-8">
			<div class="card display-block">

				<br>
				<h4>Feels Like: <%= weather[0].feels_like%> &degF</h4>
				<i class='fas fa-cloud-moon' style='font-size:48px;color:red'></i>
				<h1> Boulder, Co</h1>
				<p id="date">Todays date:</p>
				<div class="dmy agileits w3-agile w3layouts">
					<script type="text/javascript">
						var mydate = new Date()
						var year = mydate.getYear()
						if (year < 1000)
							year += 1900
						var day = mydate.getDay()
						var month = mydate.getMonth()
						var daym = mydate.getDate()
						if (daym < 10)
							daym = "0" + daym
						var dayarray = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
						var montharray = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
						document.write("" + dayarray[day] + ", " + montharray[month] + " " + daym + ", " + year + "")
					</script>
					<br>
					<br>
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-title">
										<h5>Temperature Max</h5>
									</div>
									<div class="card-body">
										<p><%= weather[0].temp_f_high%> &degF</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-title">
										<h5>Temperature Min</h5>
									</div>
									<div class="card-body">
										<p><%= weather[0].temp_f_low%> &degF</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-title">
										<h5>Wind</h5>
									</div>
									<div class="card-body">
										<p><%= weather[0].wind%> mph</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-title">
										<h5>Pressure</h5>
									</div>
									<div class="card-body">
										<p><%= weather[0].pressure%> atm</p>
									</div>
								</div>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-3">
								<div class="card">
									<div class="card-title">
										<h5>Humidity</h5>
									</div>
									<div class="card-body">
										<p><%= weather[0].humidity%> %</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-title">
										<h5>Coverage</h5>
									</div>
									<div class="card-body">
										<div class="container">
											<div class="row">
												<div class="col">
													<i class="wi wi-day-cloudy"></i>
												</div>
												<div class="col">
													<p><%= weather[0].precipitation%></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="other-city-block display-block card">
				<h3>other city</h3>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</div>

<% include ../partials/footer %>